body{
    background:whitesmoke;
    font-family: cursive;
    text-align: center;
    margin: 0%;
    padding: 0%;
}
header{
    text-align: center;
    padding: 20px;
    color: white;
}
button{
    font-family: cursive;
    background-color: white;
    color: black;
    border: 10px;
    padding: 10px;
    cursor: pointer;
    width: 10px 10px;
    
}
button:hover{
    background-color: gray;
}
.encabezado{
    background-image: url(bugatti_veyron.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#h1{
    color: black;
    background-color: black;
    text-align: center;
    
}
