body{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    background-color: crimson;
    padding: 5px;
}
header{
    text-align: center;
}
.divs1{
    border: 1px solid red;
    background-color: red;
    width: 500px;
    height: 700px;
    border-radius: 5px;
    
}
.divs2{
    margin: 5px;
    padding: 5px;
    border: 1px solid crimson;
    border-radius: 5px;
    background-color: whitesmoke;
    text-align: center;
    width: 475px;
    height: 70px;
    
}
.divs3{
    margin: 5px;
    padding: 5px;
    border: 1px solid crimson;
    border-radius: 5px;
    background-color: whitesmoke; 
    text-align: center;
    width: 475px;
    height: 70px;
    
    
}
.divs4{
    margin: 5px;
    padding: 5px;
    border: 1px solid crimson;
    border-radius: 10px;
    background-color: whitesmoke;
    text-align: center;
    width: 237px;
    height: 200px;
}
.divs5{
    margin: 5px;
    padding: 5px;
    border: 1px solid crimson;
    border-radius: 10px;
    background-color: whitesmoke;
    text-align: center;
    width: 237px;
    height: 200px;
    
}
.divs6{
    margin: 5px;
    padding: 5px;
    border: 1px solid crimson;
    border-radius: 10px;
    background-color: whitesmoke;
    text-align: center;
    width: 475px;
    height: 70px;
}
.div7{
    margin: 5px;
    padding: 5px;
    border: 1px solid crimson;
    border-radius: 10px;
    background-color: whitesmoke;
    text-align: center;
    width: 225px;
    height: 415px;
    position: relative;
    left: 250px;
    bottom: 520px;
}

